{
	"id": "000000004",
	"name": "Веб.поработители",
	"profiles": [{
		"id": "00001242121",
		"functionalDirection": "Системный Поработитель",
		"name": "Обработка обращений для порабощения",
		"competences": [{
				"id": "0014120843",
				"name": "Анализ информации по порабощению"
			},
			{
				"id": "034120844",
				"name": "Анализ информации по порабощению (инструкции)"
			},
			{
				"id": "591300845",
				"name": "Уточнение информации по порабощению (телефон)"
			},
			{
				"id": "04124000846",
				"name": "Изучение логики функционирования системы порабощения в рамках общества"
			},
			{
				"id": "01241300847",
				"name": "Выборки из списка порабощенных по запросам бобра"
			}
		]
	}]
}
